/*******Start Rulez**********/
*{
	box-sizing:border-box;
	padding:0;
	margin:0
}
body{
}
h2{
	color:#555
}


/*******End Rulez**********/

/*******Start Header**********/

header{
	background-image:url('https://previews.123rf.com/images/nk2549/nk25491305/nk2549130500028/19551927-natural-green-background-with-wood-signboard-vector-illustration-template-design.jpg');
	background-size:cover;
	position:relative;
	height:500px;
}
header .overlay{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	color:#FFF;
	background-color:rgba(66, 154, 53, 0.5);
}
header .overlay h1{
	font-size:40px;
	margin-top:100px
}
header .overlay .plan{
	float:left;
	width:48%;
	margin-left:1%;
	margin-right:1%;
	border:2px solid #CCC;
	padding:10px;
	font-size:24px
}
header .overlay .order{
	border:2px solid #CCC;
	margin:1%;
	padding:10px;
	font-size:24px
}
nav{
	background-color:#444;
	height:50px
}
nav h3{
	margin-top:14px;
	color:#FFF;
}
nav h3 span{
	color:#9dcc95
}
nav ul{
	margin-top:14px
}
nav ul li{
	margin-right:10px
}
nav ul li a{
	text-decoration:none;
	color:#FFF
}

button{
	float:right;
	width:40px;
	height:40px;
	margin-right:10px;
	margin-top:10px;
	border:0;
	outline:0;
	background-color:#444;
	cursor:pointer;
	color:#FFF;
	font-size:30px
}




.features{
	height:300px;
	
}


.features .feat{
	padding:0 15px;

	margin-left:1%;
	border-top:2px solid #DDD
}
.features h2.h1{
	margin:30px 0
}
.features .feat h2{
	margin:10px 0
}
.features .feat p{
	margin-bottom:15px
}
.about-us{
	background:#cac8c8;
	padding:80px 0;

}
.about-us h2{
	margin-bottom:10px
}
.our-work .images img{
	border:3px solid #CCC;
	padding:20px;
}
.pricing-table{
	display:block;
	background-color:#444;
	padding:30px;
	height:500px;
}
.pricing-table .h1{
	font-size:35px;
	margin:20px 0 40px;
	color:#FFF
}
.pricing-table .pricing-plan{
	border:2px solid #FFF;
	padding:20px 0;
	position:relative
}
.pricing-table .pricing-plan h3{
	font-size:25px;
	color:#FFF;
	margin:0 0 10px;
}
.pricing-table .pricing-plan span.pricing{
	display:inline-block;
	margin:0 0 10px;
	color:#bfbfbf;
	font-size:22px;
	
}
.pricing-table .pricing-plan ul.list-unstyled{
	color:18px;
	color:#FFF;
	line-height:2
}

.they-say{
	height:300px;
	padding-top:40px;

}
.they-say h2{
	margin-bottom:20px;
	color:#555
}
.they-say .person-say{
	margin-bottom:10px;
	border:2px solid #EEE;
	padding:10px;
	background:#ddd;
	border-radius:5px;
	box-shadow:5px 3px 5px #f1d5d5
}
.they-say .person-say .image{
	width:100px;
	margin-right:10px;
	
}
.they-say .person-say .image img{
	border:2px solid #CCC;
	box-shadow:1px 1px 5px #768276
}
.they-say .person-say h3{
	color:#555;
	margin-bottom:10px;
	margin-top:10px
}
.they-say .person-say p{
	width: calc(100% - 110px);
}
.information{
	background:#DDD;
	margin-top:10px;
	padding:40px 0 60px;

}
.information h2{
	color:#555;
	margin-bottom:10px;
	font-size:40px
}
.information ul li{
	display:inline-block;
	padding:10px;
	margin-top:10px;
	background-color:#CCC;
	font-size:22px;
	cursor:pointer;

}
.information ul li.selected{
	background-color:#FFF;
	color:#ff5050
}
.information .info-content >div{
	font-size:18px;
	padding:10px;
	line-height:1.6;
	background-color:#FFF;
}
.information .info-content >div:not(:first-of-type){
	display:none
}
footer{
	background-color:#484747;
	padding:26px 0
}
footer .copy{
	width:50%;
	color:#FFF;
	
}

@media (max-width:767px){ /*********** extra small screen ***********/
	h2{
		text-align:center
	}
	header .overlay h1{
		font-size:30px;
		margin-top:50px
	}
	header .overlay .plan{
		float:none;
		margin:auto;
		margin-bottom:2%;
		font-size:18px;
		
	}
	.features .feat{
		width:99%;
	}
	.features .feat .responsive-paragraph{
		text-align:center;
		font-size:18px;
	}
	.our-works .images{
		width:100%;
	}
	.pricing-table{
		height:1000px
	}
	.pricing-table .pricing-plan{
		width:100%;
		margin-bottom:1%
	}
	.they-say{
		height:400px
	}
	.they-say .person-say h3{
		text-align:center
	}
	.they-say .person-say p.responsive-paragraph{
		text-align:center
	}
	.they-say .person-say .image{
		float:none;
		margin:auto
	}
	.they-say .person-say h3{
		float:none;
		text-align:center;
	}
	.they-say .person-say p{
		float:none;
		width:100%;
		text-align:center;
	}
	.information ul li{
		display:block;
		margin-top:0
	}
	footer{
		height:90px
	}
	footer .copy{
		width:100%;
		margin-bottom:10px
	}
	
	.visible-xs{
		display:block !important
	}
	.hidden-xs{
		display:none;
	}
}
@media (min-width:768px) and (max-width:991px){ /*********** small screen ***********/
	.container{
		width:750px
	}
	.visible-sm{
		display:block !important
	}
	.hidden-sm{
		display:none;
	}
	.features .feat:first-of-type{
		width:99%
	}
	.features .feat:not(:first-of-type){
		width:49%
	}
	.features .feat .responsive-paragraph{
		font-size:20px;
	}
	.our-works .images{
		width:50%;
	}
	.pricing-table{
		height:750px
	}
	.pricing-table .pricing-plan{
		width:48%;
		margin-bottom:1%
	}
	.pricing-table .pricing-plan:not(.ultimate){
		margin-right:1%;
	}
	.they-say{
		height:370px
	}
	.they-say .person-say:first-of-type{
		width:100%;
	}
	.they-say .person-say:not(:first-of-type){
		width:49%;
	}
	.they-say .person-say:nth-of-type(2){
		margin-right:1%
	}
	.they-say .person-say:last-of-type{
		margin-left:1%
	}
	.they-say .person-say:not(:first-of-type) .image{
		float:none;
		margin:auto
	}
	.they-say .person-say:not(:first-of-type) h3{
		float:none;
		text-align:center;
	}
	.they-say .person-say:not(:first-of-type) p{
		float:none;
		width:100%;
		text-align:center;
	}

	
	
	
}
@media (min-width:992px) and (max-width:1199px){ /*********** medium screen ***********/
	.container{
		width:970px
	}
	.hidden-md{
		display:none;
	}
	.features .feat{
		width:32.33333%
	}
	.features .feat .responsive-paragraph{
		font-size:22px;
	}
	.our-works .images{
		width:33.333%;
	}
	.pricing-table .pricing-plan{
		width:32.6666%;
		
	}
	.pricing-table .pricing-plan.plus{
		left:33.6666%
	}
	.pricing-table .pricing-plan.primium{
		right:33.6666%
	}
	.they-say .person-say:first-of-type{
		width:100%;
	}
	.they-say .person-say:not(:first-of-type){
		width:49%;
	}
	.they-say .person-say:nth-of-type(2){
		margin-right:1%
	}
	.they-say .person-say:last-of-type{
		margin-left:1%
	}
	
	
}
@media (min-width:1200px){ /*********** large screen ***********/
	.container{
		width:1170px
	}
	.hidden-lg{
		display:none;
	}
	.features .feat{
		width:32.33333%
	}
	.features .feat .responsive-paragraph{
		font-size:22px;
	}
	.our-works .images{
		width:25%;
	}
	.pricing-table .pricing-plan{
		width:32.6666%;
	}
	.pricing-table .pricing-plan:not(.ultimate){
		margin-right:1%;
	}
	.they-say .person-say:first-of-type{
		width:80%;
		margin-left:10%;
	}
	.they-say .person-say:not(:first-of-type){
		width:49%
	}
	.they-say .person-say:nth-of-type(2){
		margin-right:1%
	}
	.they-say .person-say:last-of-type{
		margin-left:1%
	}

}

/*******End Header**********/
/********Start My FrameWork********/
.container{
	margin:auto;
	padding-left:15px;
	padding-right:15px
}
.text-center{
	text-align:center
}
.clearfix{
	clear:both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
	display:none
}
.float-left{
	float:left
}
.float-right{
	float:right
}
.h1{
	font-size:2em
}
.responsive-paragraph{
	color:#777;
	line-height:1.6
}
.responsive-image{
	max-width:100%
}
.list-unstyled{
	list-style:none;
}
.img-radius{
	border-radius:50%
}
.img-thumbnail{
	border:2px solid #CCC;
	padding:1px;
	background-color:##909998;
}